.galleryCard {
  padding: 10px 30px 10px 30px;
  text-align: left;
  border-bottom: 3px solid rgb(39, 41, 49);
  cursor: pointer;
}

.galleryPreviewImage {
}

.galleryTitle {
  letter-spacing: 0.5px;
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.galleryDesc {
  font-style: italic;
}
