<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; img-src {{ cspSource }} https:; script-src 'nonce-{{ nonce }}'; style-src {{ cspSource }};"
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="hub.css" rel="stylesheet" />
  </head>
  <body>
    <p class="note">
      Discover downloaded and popular galleries here.
    </p>
    <div class="hub-list-items">
      {{ hubItems }}
    </div>
  </body>
</html>
