h1,
h2 {
  color: var(--vscode-foreground);
}

.image-button {
  opacity: 1;
  display: inline-block;
  border: 2px solid var(--vscode-scrollbarSlider-hoverBackground);
  width: 80px;
  height: auto;
  margin: 1px;
  transition: all 200ms ease;
  backface-visibility: hidden;
  border-radius: 8px;
}

.image-button:hover {
  border-color: var(--vscode-textLink-foreground);
  cursor: pointer;
  transform: scale(1.1);
}

.gallery-header-controller {
  border: none;
  border-bottom: solid 1px;
  border-color: var(--vscode-focusBorder);
  display: flex;
  justify-content: space-between;
}

.header-label-container {
  display: flex;
}

.header-label {
  padding: 7px 8px 8px 8px;
  border-bottom: solid 1px;
  border-bottom-color: transparent;
  vertical-align: bottom;
  cursor: pointer;
}

.header-label:hover {
  color: var(--vscode-panelTitle-activeForeground);
}

.selected-header-label {
  color: var(--vscode-panelTitle-activeForeground);
}

.header-button {
  padding: 2px 8px 2px 8px;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  margin: 5px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.header-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.header-button.disabled {
  color: var(--vscode-disabledForeground);
  background-color: var(--vscode-banner-background);
  cursor: default;
}

.header-button.disabled:hover {
  background-color: var(--vscode-banner-background);
}

.gallery-title-container {
  display: flex;
  justify-content: space-between;
  color: var(--vscode-foreground);
}

.gallery-version-info {
  padding: 17px 0;
  font-style: italic;
  color: var(--vscode-gitDecoration-ignoredResourceForeground);
}
