<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; img-src {{ cspSource }} https:; script-src 'nonce-{{ nonce }}'; style-src {{ cspSource }};"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="gallery.css" rel="stylesheet" />
  </head>
  <body>
    <div class="gallery-title-container">
      <h1>{{ galleryTitle }}</h1>
      <span class="gallery-version-info">Content v{{ userContentVersion }}</span>
    </div>
    <p>
      {{ galleryDesc }}
    </p>
    <p>
      Press the image objects to paste the code in place of your cursor.
    </p>
    <div class="gallery-header-controller">
      <div class="header-label-container">
        <div class="header-label selected-header-label">Gallery</div>
        <div class="header-label">Settings</div>
      </div>
      <div class="header-button" id="update">Check For Updates</div>
    </div>
    <div id="galleryObjects">{{ galleryObjects }}</div>
    <script nonce="{{ nonce }}" src="gallery.js"></script>
    <footer>
      {{ galleryFooter }}
    </footer>
  </body>
</html>
